<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        <!-- 配置数据源的依赖 -->
        
        <context:property-placeholder location="classpath:mysql.properties"/>
        <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
			<property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
			<property name="url" value="${mysql.url}"/>
			<property name="username" value="servlet"/>
			<property name="password" value="123456"/> 
        </bean>
        
        <!-- 配置SqlSessionFactory的依赖 -->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        	<property name="dataSource" ref="dataSource"/>
        	<property name="configLocation" value="classpath:mybatis-cfg.xml"/>
        	<property name="typeAliasesPackage" value="com.task.entity"/>
        	<property name="mapperLocations" value="classpath:com/task/dao/*.xml"/>
        </bean>
        
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        	<property name="basePackage" value="com.task.dao"/>
        </bean>
        
</beans>