<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.task.dao.EmployeeDao">
	<resultMap type="Employee" id="selectById">
		<id column="id" property="id" />
		<result column="real_name" property="realName" />
		<result column="sex" property="sex"
			typeHandler="com.task.typeHandler.SexEnumTypeHandler" />
		<result column="birthday" property="birthday" />
		<result column="mobile" property="mobile" />
		<result column="email" property="email" />
		<result column="position" property="position" />
		<result column="note" property="note" />
		<result column="delete_flag" property="deleteFlag" />
		<association property="workCard"
			select="com.task.dao.WorkCardDao.selectWorkCardByEmpId" column="id" />
		<collection property="employeeTaskList"
			select="com.task.dao.EmployeeTaskDao.selectEmployeeTaskByEmpId"
			column="id" />
		<discriminator javaType="long" column="sex">
			<case value="1" resultMap="MaleHealthFormMapper" />
			<case value="0" resultMap="FemaleHealthFormMapper" />
		</discriminator>
	</resultMap>
	<resultMap type="MaleEmployee" extends="selectById"
		id="MaleHealthFormMapper">
		<association property="maleHealthForm" column="id"
			select="com.task.dao.MaleHealthFormDao.selectMaleHealthFormByEmpId" />
	</resultMap>
	<resultMap type="FemaleEmployee" extends="selectById"
		id="FemaleHealthFormMapper">
		<association property="femaleHealthForm" column="id"
			select="com.task.dao.FemaleHealthFormDao.selectFemaleHealthFormByEmpId" />
	</resultMap>
	<select id="selectEmployeeById" parameterType="java.lang.Long" resultMap="selectById">
		select  * from t_employee where id=#{id}
	</select>
</mapper>