<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.task.dao.FemaleHealthFormDao">
	<select id="selectFemaleHealthFormById" parameterType="java.lang.Long" resultType="FemaleHealthForm">
		select * from t_female_health_form where id=#{id}
	</select>
	<select id="selectFemaleHealthFormByEmpId" parameterType="java.lang.Long" resultType="FemaleHealthForm">
		select * from t_female_health_form where emp_id=#{empid}
	</select>
</mapper>